body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8e8ca;
  color: #333;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px; /* Adjust as needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f2f0e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #071e4a;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.instructions {
  margin-bottom: 20px;
  font-size: 1.2em;
  background-color: #071e4a;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

nav {
  margin-bottom: 20px;
}

nav button {
  background-color: #071e4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #4CAF50;
}

#definitions, #instructions, #help {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#definitions h2, #instructions h2, #help h2 {
  margin-top: 0;
}

#definitions ul, #instructions ul, #help ul {
  list-style-type: none;
  padding-left: 0;
}

#definitions ul li, #instructions ul li, #help ul li {
  margin-bottom: 10px;
}
  