body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #071E4A;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #7BAFD4;
  }
  
  .interactive {
    background-color: #E1E9DE;
  }
  
  .instructions {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  